@use '/styles/variables' as variables;

.header {
    height: 80px;
    background-color: variables.$primary-w;
    box-shadow: inset 0px -1px 0px #D4D4D4;

    display: flex;
    justify-content: space-between;
    // align-items: center;

    .left {
        margin-left: 170px;
        color: variables.$accent-g;
    }

    .right {
        display: flex;

        margin-right: 170px;

        .rightItem {
            margin-left: 32px;
            margin-right: 32px;

            color: variables.$accent-g;
        }
    }
}