@use '/styles/variables' as variables;

// Note: 390px

.header {
    height: 80px;
    background-color: variables.$primary-w;
    box-shadow: inset 0px -1px 0px #D4D4D4;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        margin-left: 170px;
        color: variables.$accent-g;

        @media screen and (max-width: 390px) {
            margin-left: 40px;
        }
    }

    .right {
        display: flex;

        margin-right: 170px;

        @media screen and (max-width: 390px) {
            margin-right: 40px;
        }

        .rightItem {
            margin-left: 32px;
            margin-right: 32px;

            color: variables.$accent-g;

            @media screen and (max-width: 390px) {
                display: none;
            }
        }

        .rightItemPhone {
            display: none;

            padding: 0px;
            border: none;
            background: none;

            &:hover {
                cursor: pointer;
            }

            @media screen and (max-width: 390px) {
                display: flex;
                position: relative;
                width: 20px;
                height: 20px;
            }
        }
    }

    .navBarPhone {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;

        width: 100vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        background-color: variables.$primary-w;

        .title {
            padding: 40px;

            text-align: center;
            color: variables.$accent-g;
        }

        .item {
            text-align: center;
            padding: 40px;

            color: variables.$accent-g;
        }
    }
}