$base-color: #FBC846;

.container {
  padding: 0 4rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.gridContainer1 {
  display: grid;
}

.gridContainer2 {
  display: grid;
}

.contentBox {
  border-style: solid;
  border-width: 1px;
  div {
    padding-top: 20px; 
  }
  .sub {
    margin-bottom: 20px; 
  }
  text-align: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  font-size: 20px; 
  margin: 0 20px;   
}

@media only screen and (max-width: 900px) {
  .gridContainer1 {
    text-align: center;
    grid-template-columns: auto;
  }

  .gridContainer2 {
    text-align: center;
    grid-template-columns: auto;
  }

  .secondItem {
    width: 600px; 
    height: 600px; 
    padding-top: 40%;
  }

  .profilePic {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    .profilePicStyling {
      opacity: 0.4;
    }
  }

  .componentTitle {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
  }
  
  .headingIcon {
    font-size: 20px;
    width: 20px; 
    margin-left: 49%;  
    padding-top: 30px;
  }
}

@media only screen and (min-width: 900px) {
  .gridContainer1 {
    grid-template-columns: 2fr 3fr;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .gridContainer2 {
    grid-template-columns: 5fr 1px 2fr;
    text-align: center;
    justify-content: center;
    gap: 80px;
  }

  .contentBox {
    background-color: white;
  }

  .componentTitle {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
  }
  
  .headingIcon {
    font-size: 20px;
    width: 20px; 
    margin-left: 49%; 
    padding-top: 30px;
    background-color: white;
  }

  .dashLine {
    background-color: #5c5c5c;
  }
}